@model IEnumerable<LearningPlatform.Models.Category>

@{
    ViewData["Title"] = "Programming";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Programming Category</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<hr />

<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td >
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="display: flex; justify-content: center; align-items: center;">
                    @{
                        var actionMapping = new Dictionary<string, string>
                        {
                            { "Programming Language", "ProgrammingLanguage"},
                            { "DataBase", "DataBase"},
                            { "Web Design", "WebDesign"},
                        };

                        string actionName = actionMapping.ContainsKey(item.Name) ? actionMapping[item.Name] : "DefaultAction";
                    }

                    <a asp-controller="Course" asp-action="@actionName">Show Courses</a> |
                    <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
